
body{
  font-family: 'Ysabeau Infant', sans-serif;
  color: #14171A;
}

.post-list{
  margin:  0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post{
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.user-info{
  display: flex;
  flex-direction: row;
  width: 400px;
  justify-content: space-between;
  font-size: 12px;
}

.user-name{
  color: rgb(39, 39, 180);
}

h2{
  font-size: 14px;
  width: 300px;
}

h2::first-letter{
  text-transform: uppercase;
}

a{
  text-decoration: none;
  color: black;
}

.card-btn{
  background-color: #f3f7fa;
  border: 1px solid #f3f7fa;
  border-radius: 15px;
  text-transform: uppercase;
  font-size: 8px;
}

p{
  font-size: 10px;
}

p::first-letter{
  text-transform: uppercase;
}

/* Loader */

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hidden {
  display: none;
}

